.card1 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 40px 60px -10px rgba(9, 34, 145, 0.20);
    background-color: rgba(245, 245, 245, 0.4);
  }

  .mt-6 {
    margin-top: 20%;
  }

  .card2 {
    align-items: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 2%;
    box-shadow: 0 15px 15px -5px rgba(1, 8, 22, 0.5);
    background-color: rgba(245, 245, 245, 0.4);
  }

  .stationList {
    margin-left: 15%;
    margin-top: 2%;
  }
  
